

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    margin: 0;
    padding-bottom: 40px;
    -webkit-font-smoothing: antialiased !important;
}

.page-header {
    margin-top: 80px;
}

/* HEADER
============================================================ */

.banner {
    background: url("../images/header.jpg") no-repeat 50% 0 fixed; 
    background-size: cover;
    height: 640px;  
    /*margin: 0 auto; */
    width: 100%; 
    /*position: relative; */
    /*padding: 200px 0;*/
}

.jumbotron {
    height: 100%;
    padding: 0;
}

.jumbotron .container {
    height: 100%;
    text-align: center;
}

.jumbotron .row {
    margin-top: 100px;
}

.jumbotron h1 {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    margin-top: 0px;
    margin-bottom: 20px;

    -webkit-font-smoothing: antialiased !important;
}

.jumbotron h2 {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #efefef;
    text-shadow: 1px 1px 1px #000;
    margin-top: 20px;
    margin-bottom: 40px;

    -webkit-font-smoothing: antialiased !important;
}

#overlay {
    background: rgba(0,0,0,0.5);  /* 50% transparent */
}

.header-image-lg {
    height: 409px;
    width: 548px;
}

.header-image {
    height: 512px;
    width: 307px;
}

.avatar {
    height: 72px;
    width: 72px;
}

.header-image-demo {
    height: 668px;
    width: 402px;
}

/* FEATURETTES
============================================================ */

.featurette-divider {
	margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
	line-height: 1;
	letter-spacing: -1px;
	font-weight: normal;
}

.featurette-image {
    height: 512px;
    width: 307px;
}

/* SOCIAL ICONS
-------------------------------------------------- */

.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}

.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open>.dropdown-toggle.btn-google-plus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open>.dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-google-plus .badge{color:#dd4b39;background-color:#fff}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {

  .featurette-heading {
    margin-top: 160px;
  }

}
